<nav>
	<a href="#" class="text-2xl">@_siteName</a>
	<div class="flex items-center gap-4">
		<div class="hidden space-x-2 font-medium sm:block">
			<AuthorizeView>
				<Authorized>
					<a href="/profile">Hey
						@context.User.Identity?.Name!</a>
				</Authorized>
			</AuthorizeView>
			<a href="/articles">Articles</a>
			<AuthorizeView Roles="Admin">
				<a href="/categories">Categories</a>
			</AuthorizeView>
			<a href="/about">About</a>
			<a href="/contact">Contacts</a>
			<LoginComponent />
		</div>
	</div>
</nav>

@code {

	private const string _siteName = "Article Site";

	[CascadingParameter] private Task<AuthenticationState>? AuthenticationState { get; set; }

}
