@namespace Web.Layout
@inherits LayoutComponentBase
@implements IAsyncDisposable

<div class="min-h-screen flex flex-col bg-[var(--bg-main)] text-[var(--text-main)] transition-colors duration-300">
	<NavMenu />

	<main class="flex-1 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
		@Body
	</main>

	<FooterComponent />
</div>

@code {
	async ValueTask IAsyncDisposable.DisposeAsync()
	{
		await Task.CompletedTask;
	}
}
