@namespace Web

@* ============================================
   Copyright (c) 2026. All rights reserved.
   File Name :     Routes.razor
   Company :       mpaulosky
   Author :        Matthew Paulosky
   Solution Name : IssueManager
   Project Name :  Web
   ============================================= *@

<Router AppAssembly="typeof(App).Assembly">
	<Found Context="routeData">
		<AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
			<NotAuthorized>
				<RedirectToLoginPage />
			</NotAuthorized>
		</AuthorizeRouteView>
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<LayoutView Layout="typeof(MainLayout)">
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>

